debug: true

server:
  port: 8080

data:
  database:
    driver: mysql
    username: root
    password: 123456
    addr: localhost
    port: 3306
    database: test
    # 最大连接数
    max_open_connections: 10
    # 最大空闲连接数
    max_idle_connections: 10
    # 每个连接的过期时间
    max_life_seconds: 60
  neo4j:
    addr: bolt://127.0.0.1:7687
    username: neo4j
    password: 123456

redis:
  addr: 127.0.0.1:6379
  db: 0
  password:
  pool_size: 100

email:
  host: smtp.163.com
  port: 25
  username: 1234565@163.com
  password:

mcp:
  port: 8081
